.navbar {
    justify-content: space-between;
    --bs-navbar-nav-link-padding-x: 1rem;
    background: hsla(213, 59%, 40%, 1);
    background: linear-gradient(45deg, hsla(213, 59%, 40%, 1) 32%, hsla(186, 74%, 70%, 1) 100%);
    background: -moz-linear-gradient(45deg, hsla(213, 59%, 40%, 1) 32%, hsla(186, 74%, 70%, 1) 100%);
    background: -webkit-linear-gradient(45deg, hsla(213, 59%, 40%, 1) 32%, hsla(186, 74%, 70%, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#2a60a3", endColorstr="#7ce0eb", GradientType=1 );
    color: white;
    font-family: 'Source Code Pro', monospace;
} 
.navbar-brand{
    font-family: 'Itim', cursive;
}
.content {
    padding-top: 4rem;
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}
.carousel {
    padding-top: 6rem;
    padding-bottom: 4rem;
} 
.section-shaped .shape-style-1.shape-primary {
    background: hsla(213, 59%, 40%, 1);
    background: linear-gradient(45deg, hsla(213, 59%, 40%, 1) 32%, hsla(186, 74%, 70%, 1) 100%);
    background: -moz-linear-gradient(45deg, hsla(213, 59%, 40%, 1) 32%, hsla(186, 74%, 70%, 1) 100%);
    background: -webkit-linear-gradient(45deg, hsla(213, 59%, 40%, 1) 32%, hsla(186, 74%, 70%, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#2a60a3", endColorstr="#7ce0eb", GradientType=1 );
}
.section-shaped .shape-primary {
    /*  background: hsla(213, 59%, 40%, 1);
    background: linear-gradient(45deg, hsla(213, 59%, 40%, 1) 32%, hsla(186, 74%, 70%, 1) 100%);
    background: -moz-linear-gradient(45deg, hsla(213, 59%, 40%, 1) 32%, hsla(186, 74%, 70%, 1) 100%);
    background: -webkit-linear-gradient(45deg, hsla(213, 59%, 40%, 1) 32%, hsla(186, 74%, 70%, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#2a60a3", endColorstr="#7ce0eb", GradientType=1 ); */
}
.section-shaped .shape {
    position: absolute;
    z-index: -1;
    top: 0;
    width: 100%;
    height: 100%;
}